		UL.tabNavigation {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		}

		UL.tabNavigation LI {
		    display: inline;
		}

		UL.tabNavigation LI A {
		    padding: 10px 10px;
		    background-color: #d7f4f8;
		    color: #000;
		    text-decoration: none;
			font: bold 18px/12px 'Dosis';
			display: inline-block;
		}

		UL.tabNavigation LI A.selected,
		UL.tabNavigation LI A:hover {
		    background-color: #004569;
		    color: #fff;
		}
		
		.no_of_files{
	bottom: 15px;
    cursor: pointer;
    float: right;
    left: 15px;
	height:15px;
    position: relative;
    width: auto;
	color: #fff;
	font-weight:normal;
	font-size:10px;
	background:#004569;
	padding:1px 3px;

}
		UL.tabNavigation LI A:focus {
			outline: 0;
		}

		div.tabs > div {
			padding: 5px;
			margin-top: 3px;
			border: 4px solid #004569;
		}
		
		div.tabs > div h2 {
			margin-top: 0;
		}

		#orderdetails {
		    background-color: #f2f2f2;
		}

		#files {
		    background-color: #f2f2f2;
		}

		#messages {
		    background-color: #fff;
		}
		
