#timeline a {
	color: #036;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	#timeline a:hover,
	a.selected {
		color: #039;
	}

#timeline h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
#timeline	h1 {
		font-size: 16px;
	}
#timeline	h2 {
		font-size: 12px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 960px;
		height: 260px;
		overflow: hidden;
		margin: 0px auto;
		position: relative;
		/*background: url('../images/timeline.png') repeat-y;*/
		/*border-bottom:10px solid #5B6161;
		border-radius: 0 0 5em 5em;*/
	}
	
#timeline img{ border:none; }	
		#dates {
			width: auto;
			float:right;
			padding-right:100px;
			overflow: hidden;
			}
			
			#dates li {
				list-style: none;
				float: right;
				width: 30px;
				font-size: 22px;
				text-align: center;
				/*background: url('../images/sbig.png') center bottom no-repeat;*/
			}
				#dates a {
					line-height: 18px;
					
				}
				#dates .selected {
			        font-size: 35px;
					font-weight:bold;
				}
		
		#issues {
			width: 960px;
			height: 240px;
		}	
			#issues li {
				width: 960px;
				height: 240px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: -30px 30px 20px 40px;
					background: transparent;
					height:210px;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #039;
					font-size: 28px;
					margin-top: 20px;
					margin-right:100px;
					text-shadow: #000 1px 1px 2px;
				}
				#issues li p {
					font-size: 14px;
					margin-right: 100px;
					font-weight: normal;
					line-height: 22px;
					font-size:18px;
					/*text-shadow: #000 1px 1px 2px;*/
				}
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 260px;
			position: absolute;
			top: 0;
			z-index:-1;
		}
			#grad_left {
		        left: 0;
		     /*background: url('../images/grad_left.png') repeat-y;*/
			}
			#grad_right {
		        right: -1px;
		       /* background: url('../images/grad_right.png') repeat-y;*/
				
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 110px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
			z-index: 1;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../images/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../images/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
